/*Pagina Acessorios*/

*{
    padding: 0%;
    margin: 0%;
   box-sizing: border-box;
}
body{
background-color: rgba(253, 253, 253, 0.521);
}

#nav-ac{
    position: fixed;
    z-index: 999;
padding: 0;
background-color: rgb(0, 0, 0);
width: 100%;
}


#nav-ac a{
align-items: center;
color: rgb(255, 255, 255);
padding: 40px;
text-decoration: none;
float: right;
display: inline;
justify-content: center;
transition: background .4s;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#nav-ac li a:hover{
    background-color: #8136a3;
}

#nav-ac ul li{
    display:inline;
    
}

/* acesso */

.ac img{
margin-top: 5%;

}
.ac{
    background-image: url(../imagem/acesso.png);
    padding: 5px;
    display: inline-block;
    width: 100%;
}

.ac a{
    display: inline;
    margin-left: 50px;
    
}

.ac a{
    font-size: 20px;
    color: rgb(216, 216, 216);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.ac ul li{
    display: inline-block;
    align-items: center;
    padding: 11px;
    justify-content: space-between;
    padding-left: 140px;     
}


.sessao{
    display: flex;
}

.opcoes{
display: inline;
justify-content: center;
font-style: oblique;
padding-top: 80px;
}

.opcoes{
    padding: 20px;
    margin: 3%;
}
.opcoes ul{
    padding-top: 20%;
    display: inline-block;
    list-style-type: none;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.ac-hmt{
   
    width: 100%;
    padding-top: 5%;
    display: flexbox;
    padding-bottom: 10%;
}

.ac-hmt img{
    margin-left: 10%;
    margin-bottom: 10%;
padding-top: 10%;
}

.ac-hmt span{
    display: inline-block;
    margin-left: 50px;
    font-size: 20px;
}


.ac-hmt{
    
    width: 100%;
    padding-top: 100px;
    display: flexbox;
}

.ac-hmt{
    width: 100%;
    padding-top: 100px;
    display: flexbox;
}

/*footer*/

.rodape{
    color: rgb(255, 255, 255);
    background-image: url(../imagem/rodape.png);
    opacity: 0.9;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.rodape .ac-info{
    margin-left: 13%;
    margin-right: 13%;
}

.rodape a{ 
    font-variant:small-caps;
    color:  rgb(253, 252, 252);
    text-decoration: none;
    list-style-type: none;
}

.rodape li{
    padding: 5px;
    list-style-type: none;
}



